body {
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.butao {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.butao p {
    margin-top: 2rem;
}

.butao button {
    margin-left: 1rem;
    border: none;
}
.teste{
    margin-bottom: 1rem;
}

#lista-de-tarefas{
    width: 1300px;
    margin-left: 15rem;
    margin-top: 3rem;
}
.apagando {
    animation: fadeout 1s;
}

@keyframes fadeout {
    to { opacity: 0; }
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 3rem;
        text-align: center;
    }
}

.nes-container.with-title.is-centered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nes-container.with-title.is-centered button {
    margin-top: 1rem;
}
